::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9575CD;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9575CD;
}
::-webkit-scrollbar-thumb:active {
  background: #9575CD;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #212121;
}
::-webkit-scrollbar-track:active {
  background: #212121;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

h1 {text-align:center;  font: 14pt monospace; line-height: 0;}

a:link {
  color: #9575CD;
}

/* visited link */
a:visited {
  color: #7c5cb2;
}

canvas {
  position: absolute;
  background: #1c1038;
  transform: translateY(-15%);
  z-index : -1;
}

html{
  background: #1c1038;
  color: #694c98;
  text-shadow: 0 0 3px #b774fa;
  font: 14pt monospace;
  white-space: pre;
  tab-size: 4;
}

#rick{
  -webkit-animation: rotation 5s infinite alternate linear;
}

@-webkit-keyframes rotation {
  0%{
    -webkit-transform: rotate(0deg);
  }

  25%{
    -webkit-transform: scale(0.5);
  }
  50%{
    -webkit-transform: rotate(180deg);
  }
  75%{
    -webkit-transform: scale(1);
  }
  100%{
    -webkit-transform: rotate(-180deg);
  }
}

iframe{
  transform: translateX(-25%);
}
.terminalwrapper {

  position: absolute;
  width: 500px;
  left: 50%;
  transform: translateX(-35%);
}


.terminal {
}
